<template>
  <input :value="props.value" :placeholder="placeholder" @input="handleChange">
</template>

<script setup lang='ts'>
interface Props {
  value: string;
  placeholder?: string;
}

const props = defineProps<Props>();
const emit = defineEmits<{
  (e: 'on-change', value: { newValue: string} ): void
}>()

const handleChange = (e: Event) => {
  emit('on-change', { newValue: (e.target as HTMLInputElement).value });
};

</script>

<style scoped>

</style>
