<template>
  <div id="app">
    <Input :value="count" @on-change="handleChange" />
    {{ count }}
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import Input from './shared/ui/Input.vue';

const count = ref('text');

const handleChange = ({ newValue }: { newValue: string; }) => {
  console.log(newValue);
  count.value = newValue;
};

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
